body {
  margin: 0;
  text-align: center;
  /* ימרכז את כל מה שבתוך רק כאשר אין למה שבפנים רוחב */
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  */
  font-family: 'Merriweather', serif;
  /* הסריף זה הגיבוי */
  font-size: 130%;
  color: #40514E;
  line-height: 2; /*כדי להכפלת הרווח בין השורות */
}

h1 {
  font-size: 562.5%; /*שווה ל5.625EM */
  /* כדי שתהיה תאימות בין גדלים שונים במסך, עושים באחוזים. */
  /* בגלל ש100 אחוז שווה ל16 פיקסלים אז תשעים פקסלים זה מה שכתבתי */
/* 16px=100%=1em */
/* הבעיה: אחוזים ואיאם יורשים גם תכונות מההורים כלומר
אם להורה-בודי יש גודל כבר אז זה יתווסף בנוסף להגדרה שלו
נוצרת כותרת ענקית לעומת פיקסלים שהם מדויקים בלי תורשה */
/* פתרון: REM תייחס בלי תורשה להורים */

  margin: 50px auto 0 auto;
  /* width: 10%; */
  /* margin: 0 auto 0 auto */
  /* margin: 0 auto  אותו דבר*/
  /* כשאני רוצה למרכז בלוק של מידע עם רוחב */
  font-family: 'MonteCarlo', cursive;
  color: #66BFBF;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  /* font-weight: normal; */
  color: #66BFBF;
  margin: 0;
}

h3 {
  font-family: 'Merriweather', serif;
  color:#11999E;
}

hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  margin: 50px auto;

}

.top-container {
  background-color: #DEEDF0;
  position: relative;
  /* כי בגלל שהעננים אבסולוט ההורה צריך להיות רלטיב כלומר במקרה זה זה הבודי */
  padding-top: 100px;
  /* כדי להרחיק את הכל כלפי מטה */
  line-height: 2em;
  /* 32px הפרדה בין אלמנטים שנמצאים בקונטיינר הזה */
}

.middle-container {
  background-color: #F4F9F9;
  position: relative;
  padding-top: 50px;
}

.bottom-container {
  background-color: #CCF2F4;
  position: relative;
  margin: 0 auto;
}

.intro{
  width:30%;
  margin: auto;/* כדי למרכז */
}

.Full-stack {
  text-decoration: underline;
  /* font-weight: normal; */
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.profile-img{
  border-radius: 100%;
  width:25%
}




.programming-img{
  width:25%;
  /* float: left; */
  margin-right: 30px;
/* תמונה צפה בצד שמאל וטקסט בימין עם רווח מהתמונה */

}

.help-desk-img{
  width:25%;
  /* float: left; */
  margin-right: 30px;
 }

.a:hover{
  color: #68B0AB;
}
/* כל הלינקים יהפכו לצבע אחר כשעוברים עם העכבר מעליהם */

.footer-link{
  color: #11999E;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;

}

.skill-row{
   margin:60px auto 100px auto;
   width: 50%;
   text-align: left; /* די שהטקסט יתחיל משמאל ולא מהמרכז*/

   overflow: auto; /*בעיות של תאימות בגודל- תמונה שזלגה החוצה */
  display: flex;
  align-items: center;
/* עם זה הצלחתי למרכז ולשים את התמונה בשמאל וכל הכיתוב בימין */
}

.skills{
  padding-top: 50px;
}

.copyright{
  color:white;
  font-size: 0.95rem;
  padding: 20px 0;
  margin-bottom: 0;
}
  /* .coding-skills{
   clear: left;  */

   /*מנקה את צד שמאל של הפסקה*/





/* .help-desk-skill{ */
  /* clear:right;
}  */


.BUTTON_UYT {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   margin-bottom: 50px;
   background-color: #11999E;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_UYT:hover {
   border: solid #68B0AB 1px;
   background: #68B0AB;
   background-image: -webkit-linear-gradient(top, #3D94F6);
   background-image: -moz-linear-gradient(top, #68B0AB, #3D94F6);
   background-image: -ms-linear-gradient(top, #68B0AB, #3D94F6);
   background-image: -o-linear-gradient(top, #68B0AB, #3D94F6);
   background-image: -webkit-gradient(to bottom, #68B0AB, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
